
#banner{
    width:1180px;
    height: 212px;
    text-align: center;
    background: #CC0066;
    margin: auto;
}
#header{
    float: left;
}
#menu{
    height: 30px;
    width: 1180px;
    background:  #CC0066;
    margin: auto;
}
#menu ul li{
    list-style-type: none;
    float: left;
    width: 150px;
    text-align: center;
    line-height: 30px;
}
#menu ul li a{
    color: white;
    text-decoration: none;
}
